.panel {
    max-height: 0;
    overflow: hidden;
    transition: 1s;
    border: none;
    box-shadow: none;
    background: transparent;
    display: none;
}
.panel.active {
    display: block;
    max-height: none;
    font-size: 12px;
    color: gray;
    font-weight: 500;
}
.accordian-faq-outer {
    display: flex;
    align-items: center;
}
.accordian-faq-left {
    width: 50%;
}
.accordian-faq-right {
    width: 50%;
}
.accordian-faq-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.accordian-faq-right button {
    margin: 0;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    width: 94%;
    text-align: left;
    padding: 10px 0;
    color: black;
    font-weight: 600;
    font-family: sans-serif;
}
button.accordion.active:hover {
    background: transparent;
}
button.accordion.active {
    border-bottom: navajowhite;
    color: black;
}
section#accordian-faq {
    padding: 89px 0;
    background: #ebecee;
}
.accordian-faq-left h2 {
    font-family: math;
    font-size: 70px;
    font-weight: 100;
}
.accordian-faq-outer p {
    width: 90%;
}
.accordian-faq-left span {
    font-size: 43px;
    font-family: cursive;
}
button.accordion.active span {
    background: #cdd5d5;
}
button.accordion span {
    background: transparent;
    border: 1px solid #00000026;
    padding: 6px 12px;
    margin-right: 7px;
    border-radius: 10px;
}

.accordion {
    width: 100%;
}
button.accordion {
    position: relative;
}
button.accordion:after {
    content: unset;
    position: absolute;
    right: 0;
    rotate: 90deg;
    font-family: monospace;
}
button.accordion.active:after {
    rotate: 0deg;
}
.accordion.active {
    background: transparent !important;
    font-size: 14px !important;
    transition: all 0.3s linear;
}
.panel.active:hover {
    background-color: transparent;
    font-size: 12px;
    color: gray;
    font-weight: 400;
}
.accordion.active button {
    border-bottom: 1px solid #00ff2247;
}





/* ======================================================================================================================= */
@media screen and (max-width: 768px) {
    .accordian-faq-outer {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .accordian-faq-left {
        width: 100%;
        text-align: center;
    }
    .accordian-faq-outer p {
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 16px;
    }
    .accordian-faq-right {
        width: 91%;
    }
    button.accordion {
        position: relative;
        font-size: 9px;
    }
}