@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.width-percent{
    width: 75%;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
    box-shadow: none;
}

.digi-shadow{
    box-shadow: 5px 7px 35px 0 rgba(113,113,113,.1);
    border-radius: 4px 4px 0px 0px;
    margin: 30px 0px;
    padding: 30px;
}
.digitalkyc{
    margin-top: 100px;
}
.digital-1 form{
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.digital-1 .digi-input form .digi-flex{
    display: flex;
}

.digital-1 .digi-input form div div input{
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 1px dotted black;
    font-size: 14px;
    margin: 20px 0px;
}

.digital-1 .digi-input form div div input[type=date]{
   color: #757575;
   text-transform: uppercase;
}

.digital-1 .digi-input form div div select{
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 1px dotted black;
    font-size: 14px;
    margin: 20px 0px;
    color: #757575;
}

.digital-1 form button{
    width: 30%;
    border: 1px solid black;
    padding: 5px 25px;
    color: white;
    background-color: black;
    margin-top: 45px;
    border-radius: 2px;
    transition: 0.3s;
}

.digital-1 form button:hover{
    background-color: white;
    color: black;
}

.digital-1 .digi-input form div div label{
    color: #757575;
    font-size: 14px;
}
.digi-mobile-show{
    display: none;
}


@media only screen and (max-width:500px){
    .digitalkyc h4{
        text-align: center;
    }
    .digital-1 .digi-input form .digi-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .width-percent {
        width: 100%;
    }
    .digital-1 form button {
        width: 50%;
    }
    .digital-1 .digi-input form div div input {
        width: 100%;
    }
    .digital-1 .digi-input form div div select {
        width: 100%;
    }
    .digi-mobile-show{
        display: block;
    }
}

