.panel {
    max-height: 0;
    overflow: hidden;
    transition: 1s;
    border: none;
    box-shadow: none;
    background: transparent;
    display: none;
    color: #EF8A04;
    padding: 3px 18px;
}
.panel.active {
    display: block;
    max-height: none;
    font-size: 12px;
    color: #EF8A04;
    font-weight: 500;
}
.accordian-faq-outer {
    display: flex;
    align-items: center;
}
.accordian-faq-left {
    width: 50%;
}
.accordian-faq-right {
    width: 50%;
}
.accordian-faq-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.accordian-faq-right button {
    margin: 0;
    border: none;
    background: transparent;
    width: 94%;
    text-align: left;
    padding: 10px 0;
    color: #262681;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
button.accordion.active:hover {
    background: transparent;
}
button.accordion.active {
    border-bottom: navajowhite;
    color: black;
}
section#accordian-faq {
    padding: 89px 0;
    background: #ebecee;
}
.accordian-faq-left h2 {
    font-family: math;
    font-size: 70px;
    font-weight: 100;
    color: #293957;
}
.accordian-faq-outer p {
    width: 90%;
}
.accordian-faq-left span {
    font-size: 43px;
    font-family: cursive;
}
button.accordion.active span {
    background: #cdd5d5;
}
button.accordion span {
    background: transparent;
    border: 1px solid #00000026;
    padding: 6px 12px;
    margin-right: 7px;
    border-radius: 10px;
}

.accordion {
    width: 100%;
}
button.accordion {
    position: relative;
    position: relative;
    display: flex;
    align-items: center;
}
button.accordion:after {
    content: unset;
    position: absolute;
    right: 0;
    rotate: 90deg;
    font-family: monospace;
}
button.accordion.active:after {
    rotate: 0deg;
}
.accordion.active {
    background: transparent !important;
    font-size: 14px !important;
    transition: all 0.3s linear;
}
.panel.active:hover {
    background-color: transparent;
    font-size: 12px;
    color: gray;
}
/* .accordion.active button {
    border-bottom: 1px solid #00ff2247;
} */
.accordion-outr {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 36px;
    background: #F8F8F8;
    box-shadow: 2px 3px 4px -2px rgba(0, 0, 0, 0.25);
    padding: 0px 13px;
}




/* ======================================================================================================================= */
@media screen and (max-width: 768px) {
    .accordian-faq-outer {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .accordian-faq-left p {
        text-align: center !important;
        margin-bottom: 14px;
        color: black !important;
    }
    .accordian-faq-left {
        width: 100%;
        text-align: center;
    }
    .accordian-faq-outer p {
        width: 100%;
    text-align: left;
    margin-top: 0;
    opacity: 1;
    color: #293957;
    }
    .accordian-faq-right {
        width: 91%;
    }
    button.accordion {
        position: relative;
        font-size: 9px;
    }
}